<div class='row user-select-none justify-content-around'>
  <div class='col-sm-11 col-md-9 col-lg-6 col-xl-5 m-5'>
    <div class='card'>
      <div class='card-header'>
        <h3 class='card-title'>Login</h3>
      </div>
      <div class='card-body'>
        <form class='login-form' id='login-form'>
          <div class='mb-3'>
            <label for='email-login' class='form-label'>Email: </label>
            <input
              type='text'
              class='form-control'
              id='email-login'
              placeholder='Email'
            />
          </div>
          <div class='mb-3'>
            <label for='password-login' class='form-label'>Password: </label>
            <input
              type='password'
              class='form-control'
              id='password-login'
              placeholder='Password'
            />
          </div>
          <button type='submit' class='btn btn-primary mb-3'>Login</button>
        </form>
      </div>
    </div>
  </div>
  <div class='col-sm-11 col-md-9 col-lg-6 col-xl-5 m-5'>
    <div class='card'>
      <div class='card-header'>
        <h3 class='card-title'>Sign Up</h3>
      </div>
      <div class='card-body'>
        <form class='signup-form' id='signup-form'>
          <div class='mb-3'>
            <label for='username-signup' class='form-label'>Username: </label>
            <input
              type='text'
              class='form-control'
              id='username-signup'
              placeholder='Username'
            />
          </div>
          <div class='mb-3'>
            <label for='email-signup' class='form-label'>Email: </label>
            <input
              type='text'
              class='form-control'
              id='email-signup'
              placeholder='Email'
            />
          </div>
          <div class='mb-3'>
            <label for='password-signup' class='form-label'>Password: </label>
            <input
              type='password'
              class='form-control'
              id='password-signup'
              placeholder='Password'
            />
            <div id='passwordHelp' class='form-text'>Password must be at least 8
              digits long.</div>
          </div>
          <button type='submit' class='btn btn-primary mb-3'>Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src='/js/login.js'></script>